doctype html
html
  head
    script(type='module' src="/./../views/Questions/script.js") 
    meta(charset="utf-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    meta(content="" name="description")
    meta(content="" name="author")

    title RANIA AI Assistant

    link(href="../../public/stylesheets/dashboard.css" rel="stylesheet")
    link(href="../../public/stylesheets/button.css" rel="stylesheet")
    link(href="../../public/stylesheets/col.css" rel="stylesheet")
    link(href="../../public/stylesheets/root.css" rel="stylesheet")
    link(href="../../public/stylesheets/hr.css" rel="stylesheet")
    link(href="../../public/stylesheets/container.css" rel="stylesheet")
    link(href="../../public/stylesheets/ul.css" rel="stylesheet")
    link(href="../../public/stylesheets/dropdown.css" rel="stylesheet")
    link(href="../../public/stylesheets/nav.css" rel="stylesheet")
    link(href="../../public/stylesheets/mobile.css" rel="stylesheet")
    link(href="../../public/stylesheets/sb.css" rel="stylesheet")
    link(href="../../public/stylesheets/card.css" rel="stylesheet")
    link(href="../../public/stylesheets/accordion.css" rel="stylesheet")
    link(href="../../public/stylesheets/misc.css" rel="stylesheet")
    link(href="../../public/stylesheets/table.css" rel="stylesheet")
    link(href="../../public/stylesheets/link.css" rel="stylesheet")
    script(type='module' src="../../public/scripts/Dashboard/dashboard.js")
    script(src='https://d3js.org/d3.v7.min.js')

  body.sb-nav-fixed
    #layoutSidenav
      .mobile-menu
        input#hamburger(
          value="hamb" 
          name="hamb" 
          type="checkbox"
          )
        label(for="hamb") ☰
        ul.mobile
          li
            a.nav-link(href="index.html") Manage Devices
          li
            a.nav-link(href="/settings") Edit Resident Info
          li
            a.nav-link(href="index.html") Send data to...
      div(id="layoutSidenav_nav")
        nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
          .sb-sidenav-menu
            .nav
              a.nav-title RANIA Homepage
              a.nav-link(href="/dashboard") Dashboard
              a.nav-link(href="/questions") Ask a Question 
              a.nav-link(href="/calendar") Calendar
              a.nav-link(href="/messages") Messages
              a.nav-link(href="/reminders") Reminders
              a.nav-link(href="/usersettings") User Settings
              //- a.nav-link(href="/devices") Manage Devices
              //- a.nav-link(href="/settings") User Info
              //- a.nav-link(href="/agenda") Manage Your Agenda
          .sb-sidenav-footer
            .small Logged in as:
            | UserName
            button.db-button(type='button' onclick="window.location.href='/'") logout
      div(id="layoutSidenav_content")
        main
                
            // Display area for results
            div#messages(style='overflow-y: scroll; height: 725px; padding: 10px;')

            div#inputContainer(style='position: fixed; bottom: 0; left: 30; width: 90%; padding: 10px; background-color: #f0f0f0;')
                // Input form
                input(type='text', id='newMessages', placeholder='Ask your question here', style='width: 82%; height: 65px; font-size: 20px;')
                button(id='submit-button', style='width: 10%; height: 65px; font-size: 20px;') Send